* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #131720 !important;
  height: 100%;
  color: #fff;
  font-family: "Josefin Sans" !important;
}
header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.menu-bar {
  margin-top: 7px
}
.menu-bar .bar {
  display: block;
  color: #fff;
  background-color: #fff;
  margin-bottom: 8px;
  margin-right: 10px;
  border-radius: 1px

}
.menu-bar .bar-1 {
  width: 25px;
  height: 2px;
}
.menu-bar .bar-2 {
  width: 15px;
  height: 1.5px;
}
.menu-bar .bar-3 {
  width: 5px;
  height: 2px;
}
.utilities {
  color: #fff !important;
  display: flex;
  justify-content: center;
}
.utilities > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
.utilities > div .fa {
  font-size: 20px;
  font-weight: light;
  cursor: pointer;
  margin-left: 5px;
  color: #2f80ed;
}
.utilities a {
  text-decoration: none;
  color: #fff;
}
.utilities a span {
  vertical-align: 4px
}
.utilities svg {
  fill: #2f80ed;
  width: 20px;
  margin-left: 10px
}
/* SEARCH MODAL  */
.form-search {
  width: ;
  height: 100%;
  display: flex !important;;
  justify-content: space-between !important;;
  align-items: center !important;;
  position: absolute !important; ;
  background-color: #131720 !important;
  bottom: -100px;
  width: 90%;
  transition: all .5s ease-in
}
.form-search.active {
  bottom: 0px !important;
}
.form-search .input{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.form-search i {
  vertical-align: -5px
}
.form-search .input, .form-search input{
  width: 70%
}
/* END OF SEARCH MODAL  */

/* MOVIE SLIDER*/
section.movie-container .slider {
  border-radius: .5rem;
  height: 25rem;
  background-position: center !important;;
  background-size: cover !important;
  padding: 2rem !important;;
}
.slider .movie-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  height: 100%
}
.slider:hover .movie-attr, .slider {
  opacity: 1;
  cursor: pointer;
}
.slider .movie-attr {
  opacity: 0;
}
.slider .movie-attr .movie-add svg, .slider .movie-attr .movie-rating svg {
  height: 22px;
  fill: #131720
}
.slider .movie-attr .movie-add svg:hover {
  fill: gold
}
.slider .movie-attr .movie-rating {
  display: flex;
  height: 25px;
  box-sizing: content-box !important;;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: blueviolet
/*   background: rgba(21,31,48,0.75) !important; */
}
.slider .movie-attr .movie-add {
  display: flex;
  height: 25px;
  width: 45px;
  box-sizing: content-box !important;;
  padding: 4px 7px 4px 4px;
  justify-content: space-between;
  align-items: center;
  background: blueviolet;
  border-radius: 5px;
/*   background: rgba(21,31,48,0.75) !important; */
  
}
/* END OF MOVIE SLIDER*/


/* SIDEBAR */
.sideBar-container {
  background: #000;
  position: fixed !important;
  inset: 0 30% 0 0;
  z-index: 100000000;
  display: flex;
  justify-content: center;
  align-items: center
}
.sideBar-container nav {
  
}
/* END OF SIDEBAR */
/* OWL CAROUSEL */
.owl-prev {
  left: 30px;
}
.owl-next {
  right: 30px
}
.owl-prev, .owl-next {
  position: absolute;
  top: 30%;
  display: none !important;;
}
.owl-prev span, .owl-next span {
  font-size: 60px;
  color: #76767676
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  text-align: left
}
.owl-dot.active, button.owl-dot {
  outline: none
}
.owl-dot:not(.active) span {
  background: #2f80ed !important;
}
.owl-dots .active span {
  width: 35px !important;
  transition: all 2s
}
.owl-dots span {
  transition: all 2s
}



